.category_right_content {
    padding-top: 15px;
}
.category_right_content_item > div {
	border: 2px solid #dddddd;
    margin-bottom: 20px;
    text-align: center;
}
.category_right_content_item .lazyload {
    width: 200px;
}
.category_right_content_item img {
	width: 100%;
}
.category_right_content_item p {
    font-family: Roboto-Bold;
}

.lazyload_item img {
    transition: 0.5s;
}
.lazyload:hover img {
    opacity: 0.7;
}
.lazyload:hover .popup_item {
    display: block;
}
.popup {
    position: relative;
}
.popup_item {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    width: 100%;
    top: 30%;
}
.popup_item li {
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
    border-radius: 50%;
}
.popup_item a:nth-child(1) li {
    background-color: #6dd3d1;
}
.popup_item a:hover li {
    content: 'Mua hàng';
}
.popup_item a:nth-child(2) li {
    background-color: #fabc59;
}