li {
    list-style: none;
}
a {
    text-decoration: none;
}
.footer {
    padding: 30px 0;
    background-color: #000000;
    color: #ffffff;
}
.addr p i {
    padding-right: 5px;
}
.addr ul {
    display: flex;
    padding: 0;
}
.addr li a {
     width: 40px;
     height: 40px;
     background: #222;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 10px;
     text-decoration: none;
     border-radius: 5px;
     color: #fff    ;
}
.addr li a:hover {
    background-color: #fff;
    color: #000;
}
.news .col-2 {
    min-width: 60px;
}
.news_item {
    padding-left: 20px;
    align-items: center;
    text-align: left;
    display: flex;
    padding-bottom: 15px;
}
.news_item div {
    padding: 0;
}
.news_item img {
    height: 45px;
    width: 60px;
}
.news_item h5 {
    font-size: 14px;
}
.news_info p {
    margin: 0;
}
.news_info {
    margin-left: 5px;
}